PORT=5000
JWT_SECRET={{ jwt_secret }}
AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
ML_SERVICE_URL=http://ml_service:5001
WEATHER_API_KEY={{ weather_api_key }}
DATA_GOV_API_KEY={{ data_gov_api_key }}
